{% extends 'layout.html' %}

{% block title %} About Us {% endblock %}

{% block body %}
<div class="container">
<div class="starter-template">
    <div class="container-fluid text-center top-container">
        <img src="static/images/Hybe_Corporation_logo.png" width="350" height="150">
    </div>
<h1>Hybe Corporation(NAMA PERUSAHAAN)</h1>
<p class="lead">
    <br>
    KONTA ALAMAT PERUSAHAAN :
    <br>
    adalah perusahaan hiburan Korea Selatan yang didirikan pada tahun 2005 oleh Bang Si-hyuk sebagai Big Hit Entertainment Co., Ltd. Perusahaan ini beroperasi sebagai label rekaman, agen bakat, perusahaan produksi musik, manajemen acara dan perusahaan produksi konser, dan sebagai penerbit musik rumah. 
    <br>Perusahaan ini memiliki beberapa anak perusahaan, termasuk Big Hit Music, Source Music, Pledis Entertainment, Belift Lab, dan KOZ Entertainment, yang secara kolektif dikenal sebagai HYBE Labels.</p>
</div>
</div>
<!-- /.container -->
{% endblock %}